html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  text-decoration: none;
  color: #150D0E;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  border: 2px solid red;
}
@media screen and (max-width: 1140px) {
  .container {
    border: 2px solid greenyellow;
  }
}
@media screen and (max-width: 960px) {
  .container {
    border: 2px solid blue;
  }
}
@media screen and (max-width: 740px) {
  .container {
    border: 2px solid tomato;
  }
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 740px) {
  .grid-2 {
    grid-template-columns: 1fr;
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
@media screen and (max-width: 1140px) {
  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}
@media screen and (max-width: 740px) {
  .grid-3 {
    grid-template-columns: 1fr;
    gap: 40px 0;
  }
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
@media screen and (max-width: 1140px) {
  .grid-4 {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}
@media screen and (max-width: 740px) {
  .grid-4 {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.border {
  border-radius: 20px;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tit-center {
  width: 50%;
  text-align: center;
}
.tit-center h2 {
  margin-bottom: 30px;
}
@media screen and (max-width: 1140px) {
  .tit-center {
    width: 100%;
  }
  .tit-center h2 {
    margin-bottom: 20px;
  }
  .tit-center p {
    font-size: 1rem;
    line-height: 140%;
  }
}

button {
  cursor: pointer;
}

.btn {
  font-size: 1.125rem;
  font-weight: 500;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  position: relative;
  padding: 0;
  border: 0;
}
.btn span {
  color: #ebb275;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.87);
}
.btn:hover .mb-overlay {
  opacity: 0.08;
}

.mb-overlay {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  opacity: 0;
  background: #ffffff;
  pointer-events: none;
}

.mb-ring {
  padding: 5px;
  background: linear-gradient(to bottom, #ba8550, #ba8550 3px, #724622 4px, #ba8550);
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px 2px;
}

.mb-edge {
  border: 3px solid #000;
  border-top-color: #9e4436;
  border-bottom-color: #3a1510;
  border-left-color: #6a2223;
  border-right-color: #5a231c;
  background: radial-gradient(#ae2b20 66%, #e1914d);
  padding: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px 2px;
}

.mb-body {
  padding: 8px 8px;
  min-width: 120px;
  background: linear-gradient(170deg, #9d281e, #7f2323 6px, #782626 10px, #862829 50%, #782626);
}

#footer {
  background-color: #1F1F1F;
}

.footer {
  padding: 40px 20px;
}
.footer h2, .footer h5 {
  color: #fff;
}
.footer h2 {
  font-size: 2rem;
}
.footer h5 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.footer p, .footer a {
  color: #848D96;
}
.footer__disclaimer {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.14);
  padding: 20px;
  margin-top: 20px;
  margin: 20px 0;
}
.footer__disclaimer p {
  font-size: 0.875rem;
}
.footer__copy {
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.14);
}
.footer__social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.footer__social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-transition: opacity 0.3 ease;
  transition: opacity 0.3 ease;
}
.footer__social a:hover {
  opacity: 0.7;
}