.hero {
  background: url("assets/img/cenario.webp") no-repeat;
  background-size: cover;
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 120px 0 0 0;
  }
  &__txt {
    padding: 20px;
    position: relative;
    align-items: center;
    &-img {
      img {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        height: 43.75rem;
        width: 100%;
      }
    }
    &-box, .btn {
      position: relative;
      z-index: 10;
    }
    &-box {
      background-color: #977933;
      border-radius: 10px;
      padding: 20px;
      max-width: 31.25rem;
      margin: 0 auto;
      width: 90%;
      .font-1 {
        background-color: #150D0E;
        color: white;
        padding: 5px 10px;
        border-radius: 4px;
        margin-bottom: 20px;
        display: block;
        text-align: center;
        span {
          color: inherit;
          font-size: inherit;
          font-family: inherit;
        }
      }
      p {
        color: #4A2222;
      }
      input {
        margin-top: 20px;
      }
    }
    .btn {
      margin-top: 40px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    color: #150D0E;
    column-gap: 0.25rem;
    margin-bottom: 10px;
    p{
      font-size: 1.125rem;
    }

    &.finished {
      color: #4A2222;

      .finished-icon {
        display: block;
      }

      .pending-icon {
        display: none;
      }
    }

    p,
    span {
      color: inherit;
    }

    .finished-icon {
      display: none;
    }
  }
  &__reward{
    background-color: white;
    border-radius: 10px;
    div{
      background-color: #4A2222;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border-radius: 10px 10px 0 0;
      p{
        display: flex;
        align-items: center;
        gap: 10px;
      }
      a{
        font-size: 0.875rem;
      }
      p, a, span{
        color: white !important;
      }
    }
  }
  [data-info-text="reward"]{
    padding: 10px;
    text-align: center;
    font-size: 1.25rem;
  }
  @include responsive(m){
    &__img{
      display: none;
    }
    &__grid {
      grid-template-columns: 1fr;
    }
    &__txt{
      max-width: 500px;
      margin: 0 auto;
      img{
        height: 65vh;
      }
    }
    .btn{
      margin-top: 10px;
    }
  }
  @include responsive(s){
    &__txt-box{
      width: 85%;
    }
  }
}

#hero-quests-txt{
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #66542A;
}
