.tokenomics {
  padding: 120px 0;
  &__grid {
    padding: 60px 180px;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    gap: 120px;
    justify-items: center;
    align-items: center;
  }
  p {
    font-size: 1.125rem;
  }
  span {
    font-size: 1.5rem;
    margin-top: -10px;
    text-align: center;
  }
  li {
    gap: 10px;
    align-items: center;
    margin-bottom: 60px;
  }
  @include responsive(m) {
    &__grid {
      padding: 60px 20px;
      grid-template-columns: 1fr 1fr;
    }
    &__img {
      grid-column: span 2;
    }
    &__info-1 {
      grid-row: 2;
    }
  }
  @include responsive(s) {
    &__grid {
      gap: 60px 20px;
    }
    &__img {
      max-width: 100%;
    }
  }
}
