button {
	cursor: pointer;
}

.btn{
  font-size: 1.125rem;
  font-weight: 500;
  padding: 10px 20px;
  cursor: pointer;
	text-align: center;

	display: inline-block;
	position: relative;
	// font-family: 'Aniron';
	padding: 0;
	border: 0;

	span{
		color: #ebb275;
		text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.87);
	}

	&:hover{
		.mb-overlay{
			opacity: 0.08;
		}
	}
}

.mb-overlay{
	position: absolute;
	top: 4px;
	bottom: 4px;
	left: 4px;
	right: 4px;
	opacity: 0;
	background: #ffffff;
	pointer-events: none;
}

.mb-ring{
	padding: 5px;
	background: linear-gradient(to bottom, #ba8550, #ba8550 3px, #724622 4px, #ba8550);
	box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px 2px;
}

.mb-edge{
	border: 3px solid #000;
	border-top-color: #9e4436;
	border-bottom-color: #3a1510;
	border-left-color: #6a2223;
	border-right-color: #5a231c;
	background: radial-gradient(#ae2b20 66%, #e1914d);
	padding: 1px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px 2px;
}

.mb-body{
	padding: 8px 8px;
	min-width: 120px;
	background: linear-gradient(170deg, #9d281e, #7f2323 6px, #782626 10px, #862829 50%, #782626);
}