@font-face {
  font-family: "Bank Gothic Bold";
  src: url("assets/type/BankGothicBold.ttf") format("truetype");
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
.font-1{
  font-family: "Bank Gothic Bold", serif;
}
.font-2{
  font-family: "Poppins", sans-serif;
}
h2{
  font-size: 3.25rem;
}